<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html lang="en">

    <head>
        <title>Mentor.io - Platform for Developers and Learners</title>

        <!-- GOOGLE FONTS -->
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />

        <!-- Image Slider -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/plagin-css/plagin.css' %}" />

        <!-- FONT ICONS -->
        <link rel="stylesheet" type="text/css" href="{% static 'icons/toicons/css/styles.css' %}" />

        <!--   COUSTOM CSS link  -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />
    </head>
    